<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>controller.RequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRequestServlet</servlet-name>
        <servlet-class>controller.ManageRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageApartmentServlet</servlet-name>
        <servlet-class>controller.ManageApartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeTaskServlet</servlet-name>
        <servlet-class>controller.EmployeeTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackProgressServlet</servlet-name>
        <servlet-class>controller.TrackProgressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/RequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRequestServlet</servlet-name>
        <url-pattern>/ManageRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageApartmentServlet</servlet-name>
        <url-pattern>/ManageApartmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeTaskServlet</servlet-name>
        <url-pattern>/EmployeeTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackProgressServlet</servlet-name>
        <url-pattern>/TrackProgressServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
